MAIN_BOT_TOKEN=8555670947:AAGCPyjNySibwxf0VQVIRr_g8rRcNJP3vjg
NOTIFICATION_BOT_TOKEN=8444986686:AAE2TqlgqfF9q7Uvsxp7NmgkMrU7qGbcXvs
NOTIFICATION_CHAT_ID=6751615568
STORAGE_PATH=data/state.sqlite3
LEADS_DB_PATH=data/leads.sqlite3
